body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;

}

h3 {
    font-size: 25px;
}

p {
    fonct-size: 20px;
    text-align: justify;
    color: rgb(129, 129, 125);
}

.orenged-color {
    color: hsla(34, 93%, 49%, 0.918);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.width-half {
    width: 50%;
    padding-left: 7%;
}

.side-cover {
    padding-right: 7%;
}


.width-half img {
    width: 100%;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 5px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-tycoon-bannar {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-bannar {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.margin {
    margin-left: 75px;
}

.web-dev-exp {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-bottom: 75px;
    padding-right: 30px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 12px lightgray;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

/*ata blur korar tag,
    box shado color korar tag*/
#baby-gradient {
    border-left: 12px solid;
    border-image: linear-gradient(rgb(248, 133, 1), rgb(243, 3, 3));
    border-image-slice: 1;
}


#web-gradient {
    border-left: 12px solid;
    border-image-slice: 1;
    border-image: linear-gradient(rgb(58, 7, 240), rgb(57, 243, 234));
    border-image-slice: 1;

}

/* এই gradiant নিয়ে আনেক কষ্ট করসি্‌     ......।। মাথাতা আমার আবেথা ধরে গেছেরে্‌ ...।। খুবি খারাপ লাগতেছিল .........অবশেষে i have done,,,, alhamdulillah */



footer p {
    text-align: center;
}

/* ফুতার এর মধহে মধ্যে কে আছে তার জন্য কমান্ড */