body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 25px;
}

p {
    fonct-size: 20px;
    text-align: justify;
    color: rgb(129, 129, 125);
}

.orenged-color {
    color: hsla(34, 93%, 49%, 0.918);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.width-half {
    width: 50%;
    padding-left: 7%;
}

.side-cover {
    padding-right: 7%;
}


.width-half img {
    width: 100%;
}






.link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 5px 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-tycoon-bannar {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}